

.footer{
    background-color: rgb(216, 53, 53);
    width: 100%;
    opacity: 0.9;
    height: 40px;
    a{
        text-decoration: none;
        color: rgb(22, 22, 22);
        font-size: 18px;
    }

}
    


