.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height:calc(93.5vh - 155px);
    margin-top: 58px;

    
    .pokemonsConteiner{
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width :640px) {
            justify-content:center;

        }
    }
    
    input{
        width: 200px;
        display: block;
        margin: 1em auto;
        padding: 0.5em 0.25em;
        border: none;
        border-radius: 0.2em;
        font-size: 1.5em;
        text-align: center;
        box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.2);
    }
    h3{
        margin-top: 35px;
    }
}

  